*{
    padding:0% 0% 0% 0%;
    margin:0% 0% 0% 0%;
    font-family:Arial;
}
a:link {
    text-decoration:none;
    color:black;
    }
    a:visited {
    text-decoration:none;
    color:black;
    }
    a:hover {
    text-decoration:underline;
    color:black;
}
.pai{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:"menu""principal""banner";
}
.banner{
    grid-area:banner;}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 0.25fr) 0.5fr repeat(6, 0.25fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: menu;
    padding:0;
    color: rgb(0, 0, 0);
    justify-items: center;
    align-items: center;
    background-color:#046D13;
    position: fixed;
    width:100%;
}

.logo{ grid-area: 1 / 1 / 2 / 2;}
  .casa{grid-area: 1 / 2 / 2 / 3;}
  .barrinha{grid-area: 1 / 3 / 2 / 4;}
  .home{font-size:150%;grid-area: 1 / 4 / 2 / 5;}
  .produtos{font-size:150%;grid-area: 1 / 5 / 2 / 6;}
  .perfil{font-size:150%;grid-area: 1 / 6 / 2 / 7; }
  .sobre{font-size:150%;grid-area: 1 / 7 / 2 / 8;}
  .carrinho{grid-area: 1 / 8 / 2 / 9;}
  .login{grid-area: 1 / 9 / 2 / 10; }

  .logo img{width:50%;}
  .casa img{width:40%;}
  .barrinha img{width:80%; align-self: center;}
  .carrinho img{width:30%;}
  .login img{width:60%;}

.footer-arrow {
    
    float:left ;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.footer-arrow svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    background-color: #059767;
}
.footer-arrow .shape-fill {
    fill: #f4f4f4;;
}
.main_footer          { background-color:#059767; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding:0; }
.container { float:left; width:100%; }
.colfooter { 
 
  width:100%; 
  height:auto; 
  float:left; 
  margin-bottom:0;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li p   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter .titleFooter   { 
  font-family: 'Lato', sans-serif; 
  font-size:1.3em; 
  color:#ffffff; 
  padding-bottom: 0; 
  margin-bottom:0.5em; 
  border-bottom: 1px #27b385 solid;
}
.colfooter p  { 
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
}
.colfooter a  { 
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
}
.colfooter .redesocial { 
    
    color: #ffffff;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition:0.2s;
}
.colfooter .redesocial:hover { 
    
    color: #fffb00;
    transition:0.2s;
}
.main_footer_copy   { background-color:#01a26d; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0; }

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){
  
  .colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
  .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
  .footer-arrow svg { height:50px; }
}
/*960PX BREAKPOINT*/
@media (min-width:60em){
  .footer-arrow svg { height:70px; }
}
/*1280PX BREAKPOINT*/
@media (min-width:80em){
  .footer-arrow svg { height:90px; }
 
}
/*fim do header footer*/
.principal
{
    grid-area:principal;
    background-color:#ffffff;
    display: grid;
    border-radius: 20px;
    margin: 0% 20% 5% 20%;
    padding-top:25px;
    padding-bottom:60px;
    grid-template-columns: 100%; 
    grid-template-rows:20vh 20vh 20vh 20vh 20vh; 
    gap:70px ;
    justify-content: center;
    grid-template-areas: "pess1 " "pess2 " " pess3 " "  pess4 " "pess5"  ;
}
.pess1{
    grid-area:pess1;
    background-color: #BDDE8E;
    border:solid black 1px;
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-areas: "foto1 nome1";
    padding:1% 0% 21% 1%;
}
.pess2{
    grid-area:pess2;
    border:solid black 1px;
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-areas: "foto2 nome2";
    padding:1% 0% 21% 1%;
    background-color: #BDDE8E;
}
.pess3{
    grid-area:pess3;
    border:solid black 1px;
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-areas: "foto3 nome3";
    padding:1% 0% 21% 1%;
    background-color: #BDDE8E;
}
.pess4{
    grid-area:pess4;
    border:solid black 1px;
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-areas: "foto4 nome4";
    padding:1% 0% 21% 1%;
    background-color: #BDDE8E;
}
.pess5{
    grid-area:pess5;
    border:solid black 1px;
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-areas: "foto5 nome5";
    padding:1% 0% 21% 1%;
    background-color: #BDDE8E;
}
.principal img{
    width:150px;
    height:150px;
    padding:10%;
    border-radius: 20px;
    
}
.foto1
{
    grid-area: foto1;
    width:120px;
    height:110px;
    background-color:#16A654;
    transition: all 0.5s;
    cursor: pointer;
  
}
.foto1:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.foto2
{
    grid-area: foto2;
    width:120px;
    height:110px;
    background-color:#16A654;
    transition: all 0.5s;
    cursor: pointer;
  
}
.foto2:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.foto3
{
    grid-area: foto3;
    width:120px;
    height:110px;
    background-color:#16A654;
    transition: all 0.5s;
    cursor: pointer;
  
}
.foto3:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.foto4
{
    grid-area: foto4;
    width:120px;
    height:110px;
    background-color:#16A654;
    transition: all 0.5s;
    cursor: pointer;
  
}
.foto4:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.foto5
{
    grid-area: foto5;
    width:120px;
    height:110px;
    background-color:#16A654;
    transition: all 0.5s;
    cursor: pointer;
  
}
.foto5:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.nome1
{
    grid-area: nome1;
    color:rgb(0, 0, 0);
    margin: 10% 0% 10% 0%;
    font-family:arial;
    transition: all 0.5s;
    cursor: pointer;
  
}
.nome1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.nome2
{
    grid-area: nome2;
    color:rgb(0, 0, 0);
    margin: 10% 0% 10% 0%;
    font-family:arial;
    transition: all 0.5s;
    cursor: pointer;
  
}
.nome2:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}



.nome3
{
    grid-area: nome3;
    color:rgb(0, 0, 0);
    margin: 10% 0% 10% 0%;
    font-family:arial;
    transition: all 0.5s;
    cursor: pointer;
  
}
.nome3:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}



.nome4
{
    grid-area: nome4;
    color:rgb(0, 0, 0);
    margin: 10% 0% 10% 0%;
    font-family:arial;
    transition: all 0.5s;
    cursor: pointer;
  
}
.nome4:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}



.nome5
{
    grid-area: nome5;
    color:rgb(0, 0, 0);
    margin: 10% 0% 10% 0%;
    font-family:arial;
    transition: all 0.5s;
    cursor: pointer;
  
}
.nome5:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


.principal div{
    justify-content:center;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}


#email:link {
        color: blue;
        text-decoration: none;
      }
      
#email:visited {
        color: purple;
        text-decoration: none;
      }